.main-container{
    
    flex-direction: column;
    text-align: center;
    color: green;
    background-color: aquamarine;
    border: 1px solid whitesmoke;
}
.left-right-container{
    display: flex;
    border: 1px solid whitesmoke;
        height:70%;
   
}
.left-container{
   border: 1px solid whitesmoke;
    
    width: 10%;
    background-color: whitesmoke; 
    height:700px;
}

.right-container{
    float: right;
    
    width: 90%;
    background-color:whitesmoke;
     border: 1px solid whitesmoke;
     height:700px;
     position: relative;
}

.lists-of-cuisines > li{
    list-style-type: none;
    background-color: aqua;
}

.dashboard{
    display: flex;
    width: 100%;
}


.footer{
        display: flex;
    flex-direction: row;
    width: 200px;
    font-size: 30px;
    margin-top: 5%;
   margin-left: 60%;
}



.github-img {
    color: black;
    padding: 4px 6px 4px 7px;
    margin: 5px 5px;
    border: 0.5px solid white;
    border-radius: 5px;
    background-color: white;
    width: 27px;
}

.angel-list-img {
    color: black;
    padding: 4px 6px 4px 7px;
    margin: 5px 5px;
    border: 0.5px solid white;
    border-radius: 5px;
    background-color: white;
    width: 28px;
    height: 28px;
}

.linkedin-img {
    color: black;
    padding: 4px 6px 4px 7px;
    margin: 5px 5px;
    border: 0.5px solid white;
    border-radius: 5px;
    background-color: white;
    width: 27px;
}


body{
    width:1060px;
    margin:50px auto;
}
path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}
.labels{
    display: flex;
    border: 1px solid whitesmoke;
    width:100%;
}

.dishes_prices{
    float: right;
    margin-left: 30%;
    color: black;
}
.menus_appeared{
    float: left;
    margin-left: 10%;
    color: black;
}