.main-container{
    height: -webkit-fill-available;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    margin: 0 auto;
    text-align: center;
    color: green;
    background-color: aquamarine;
}
.left-right-container{
    display: flex;
    background-color: blueviolet;
}
.left-container{
  
    height: -webkit-fill-available;
    width: 60%;
    background-color: blue;
}

.right-container{
    float: right;
    height: -webkit-fill-available;
    width: 40%;
    background-color:whitesmoke;
}
.menu-items-container{
        background-color: white;
    height: 50px;
}
.content-of-visual-display{
    background-color: bisque;
}
.lists-of-cuisines > li{
    list-style-type: none;
}
.barchart_of_dishes{
    background-color: white;
    height: 100%;
}
.pie_chart{
    padding: 35%;
    width: 100%;
}
.bar-chart{
    height: -webkit-fill-available;
    width:100%;
}
rect{
    fill:steelblue;
}